.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    position:sticky;
    top: 0px;
    background:aqua;
    z-index: 3;
}

.searchbar{
    width: 600px;
    margin-left: 100px;

}

.logodiv{
    margin-left: 10px;
    height: 80%;
    width:80px;

}

.logodiv2{
    height: 50%;
    width: 150px;

}

.logo{
    height: 100%;
    width:100%;
   }
.logo3{
    width:50%;
   }

.links{
    list-style: none;
    display: flex;
}

.navlink{
    list-style:none;
    margin: 0 0.75rem;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

.navlink a{
    text-decoration: none;
    color: black;
}
.navlink a:hover{
    color: #f9826c;
    cursor: pointer;
    font-weight: 600;
}
.navlink:hover{
    font-weight: 600;   
    color: #f9826c;
}

.navlinkActive {
    list-style:none;
    margin: 0 0.75rem;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    background: white;
    font-weight: 600;
    font-size: large;
    box-shadow: 0px 0px 4px 0px;
    border-radius: 2px;
    }

